@model List<CoreAndFood.Data.Models.Food>
@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_SiteLayout.cshtml";
}


<div class="card" style="width: 18rem;">
    @foreach (var item in Model)
    {
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description</p>
            <p class="card-text">@item.Price (₺)</p>
            <p class="card-text">@item.Stock</p>
        </div>
    }
    </div>

